@{
    ViewData["Title"] = "ToDos";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is displayed your assignments</p>
    <p>Sadly you have 0 assignments</p>
    <button class="btn btn-success" type="button">Click here to create new</button>
</div>

